[workspace]
name = "openalex_to_gbq"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[dependencies]
nodejs = ">=18"
awscli = "*"
pip = "*"

[tasks]
setup = "pip install bigquery-schema-generator && npm install"
download = "bash download.sh"
convert = "bash convert.sh"
schema = "bash schema.sh"
validate = "bash validate.sh"
upload = "bash upload.sh"
bq = "bash bq.sh"
public = "bash public.sh"
cleanup = "bash cleanup.sh"
gcs-archive = "bash gcs-archive.sh"
