[workspace]
name = "openalex_to_gbq"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[dependencies]
nodejs = ">=18"
awscli = "*"

[tasks]
download = "bash download.sh"
install = "npm install"
convert = "bash convert.sh"
upload = "bash upload.sh"
