[workspace]
name = "openalex_to_gbq"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[dependencies]
nodejs = ">=18"
awscli = "*"

[tasks]
download = "bash download.sh"
install = "npm install"
run-works = "bash -c 'source .env && DATA_VERSION=$VERSION node scripts/run_works.js'"
run-concepts = "bash -c 'source .env && DATA_VERSION=$VERSION node scripts/run_concepts.js'"
run-institutions = "bash -c 'source .env && DATA_VERSION=$VERSION node scripts/run_institutions.js'"
upload = "bash upload.sh"
